# Python / Backend
/backend/venv/
/backend/__pycache__/
/backend/.env
/backend/logs/
/backend/campanas_generadas/


*.pyc

# Node / Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env*

# Archivos de Sistema Operativo
.DS_Store